
<div *ngIf="erro" class="alert alert-danger" role="alert">
    {{ mensagemErro }}
</div>
<div *ngIf="sucesso" class="alert alert-success" role="alert">
    {{ mensagemSucesso }}
</div>
<div class="mb-3">
    <label for="exampleInputText1" class="form-label">Nome:</label>
    <input [disabled]="(opcao == 'deletar')" type="text" class="form-control" name="exampleInputText1" aria-describedby="emailHelp"
        [(ngModel)]="pessoa.nome">
</div>
<div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Idade:</label>
    <input [disabled]="(opcao == 'deletar')" type="number" class="form-control" name="exampleInputPassword1" [(ngModel)]="pessoa.idade">
</div>
<input [ngClass]="{
    'btn-warning': (opcao == 'editar'),
    'btn-success': (opcao == 'cadastrar'),
    'btn-danger': (opcao == 'deletar')
}" (click)="salvar()" type="button" class="btn" value="{{opcao}}">
